// Component

// Pre-loader
#loading{
  background-color: $orange;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0;
  transition: opacity .3s linear, z-index .1s linear .3s;
}
#loading.hide{
  z-index: -1;
  opacity: 0;
}

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}


// Title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}
.section-title{
  @extend %title;
}
.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}


// Links
.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }
}

//Buttons
.btn{
  padding: 12px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;

  & + .btn{
    margin-left: $defaultIndent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }
}

// Table
.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }

  tbody{

    tr{

      &:last-child{
        td{
          border-bottom: 1px solid $lightGrey;
        }
      }

      &:hover{
        background-color: $tableTrHover;
      }
    }
  }
  tr{

    th{
      padding: 30px 18px;
      color: $grey;
    }
    td{
      border-top: 1px solid $lightGrey;
      padding: 18px;
    }

    &.td-title{
      font-size: 16px;
      color: $grey;
    }
  }

  .table-sort{
    color: $black;
    padding: 8px 10px;
    margin: -8px -10px;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background-color: $xsLightGrey;
      color: $black;
    }
  }
}

// Pagination
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $darkGrey;
  border-radius: 2px;
}
.pagination{

  li{
    display: inline-block;

    &.active{
      a{
        @extend %activePaginationLink
      }
    }

    a{
      display: inline-block;
      padding: $defaultIndent;

      &:hover{
        @extend  %activePaginationLink
      }
    }
  }
}

// Container
.container-fluid{
  padding: $defaultIndent;
}
.container-sm{
  max-width: 684px;
  margin: 0 auto;
}

// row
.row{
  margin-left: -$defaultIndent;
  margin-right: -$defaultIndent;
}

// Header
.header{
  background-color: #fff;
  border-bottom: 1px solid $lightGrey;
  right: 0;
  left: 0;
  height: 60px;
}

// Circle
.circle{

}


// Aside
%activeLink{
  background-color: #282828;
  color: #ffffff;
  border-left-color: $orange;
}

.aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $defaultIndent;

    .menu-btn{
      cursor: pointer;
      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{
    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;
          .icon{
            font-size: 17px;
            margin-right: 15px;
          }
          &:hover{
            @extend %activeLink
          }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $defaultIndent;
    border-top: $darkGrey;

    .manager-info{
      margin-top: $defaultIndent;

      .manager-photo {
        position: relative;
        margin-right: 10px;

        .status {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 0;

          &.online {
            background-color: $green;
          }
          &.offline {
            background-color: $red;
          }
        }
      }
    }
  }
}

//Content wrapper
.content-wrapper{
  padding: $defaultIndent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.panel{
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & + .panel{
    margin-top: $defaultIndent;
  }

  .panel-header{
    border-bottom: 1px solid $lightGrey;
    padding: $defaultIndent;
  }

  .panel-body{
    padding: 0 $defaultIndent;
  }
  .panel-form{
    padding: 40px 0;
    border-bottom: 1px solid $lightGrey;
    text-align: center;

    form{
      width: 455px;
      display: inline-block;

      .form-control{
        width: 310px;
      }

      .label-group{

        & + .label-group{
          margin-top: 15px;
        }
      }
    }
  }

  .panel-footer{
    padding: 30px 0;
  }
}

.panel-date{
  padding: 30px 0;
  border-bottom: 1px solid $lightGrey;
}

//date input block
.datepicker-form{
  .btn{
    vertical-align: middle;
  }
}

//default input
.form-control{
  border: 1px solid $lightGrey;
  height: 40px;
  border-radius: 2px;
  padding: 6px $defaultIndent;
  font-family: $fontFamily;
  font-weight: $fontLight;
}

//date input group
.date-input-wrap{
  padding: 4px 0;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;

  .date-control{
    padding: 12px 16px;
  }

  #to{
    border-left: 1px solid $lightGrey;
    background: url("../img/calendar.svg") no-repeat 90%;
    background-size: 13px 13px;
  }
}

//label-group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//chart
.chart-wrap{
  padding-bottom: 30px;
}

//modal
.modal{
  background-color: #fff;
  display: none;

  .modal-header{
    @extend %title;
    padding: $defaultIndent;
    border-bottom: 1px solid $lightGrey;
  }

  .modal-body{
    padding: 0 $defaultIndent;
  }
  .modal-footer{
    padding: $defaultIndent;
    border-top: 1px solid $lightGrey;
  }
}

//checkbox and radio btn
input{

  &[type="checkbox"]{
    display: none;
    
    & + label{
      font-size: 14px;
      color: $black;
      cursor: pointer;

      &::before{
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $lightGrey;
        background-color: #fff;
        margin-right: 16px;
      }
    }

    &:checked{
      & + label{
        &::before{
          background: $green url("../img/checkbox-bg.png")no-repeat center;
        }
      }
    }
  }

  &[type="radio"]{
    display: none;
  }
}

//checkbox wrap
.checkbox-wrap{
  padding: 30px 0;

  .checkboxes{
    padding-top: 30px;

    .scrollbar-inner{
      height: 150px;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }

  .checkbox-group{
    padding: 12px;
    margin-right: 18px;

    &:hover{
      background-color: $xsLightGrey;
    }

    .icon{
      margin-left: auto;
    }
  }
}


#add-links-modal{
  width: 1075px;

  .checkbox-group{
    width: 30%;
  }
}


//range slider
#custom-handle{
  top: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: $orangeLight;
  background: transparent;

  span{
    position: absolute;
    top: 25px;
    left: -25px;
  }
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  top: 100%;
}
.dropdown-wrap{
  position: relative;
  &:hover{
    .dropdown-menu{
      display: block;
    }
  }
}