// Guide style
.guide-wrap{
  padding: 20px;

  & > *{
    margin-bottom: 15px;
  }
}

//Main style
main{
  padding-left: $asideWidth;
  padding-top: 60px;
}

.links .table{
  margin: $defaultIndent 0;
}